#include <os2.h>
#include "menu.h"

ICON RES_FRAME MENU.ICO
BITMAP IDB_BITMAP MENU.BMP

MENU RES_FRAME
{
   SUBMENU "~Menu", IDM_SUB1
   {
      MENUITEM "~Checked\tAlt+C", IDM_ITEM1, MIS_TEXT, MIA_CHECKED
      MENUITEM "~Framed\tAlt+F", IDM_ITEM2, MIS_TEXT, MIA_FRAMED
      MENUITEM "~Text\tAlt+T", IDM_ITEM3, MIS_TEXT
      MENUITEM SEPARATOR
      MENUITEM "", IDM_BITMAP
   }
   SUBMENU "~Edit", IDM_EDIT
   {
      MENUITEM "~Cut", IDM_CUT
      MENUITEM "C~opy", IDM_COPY
      MENUITEM "~Paste", IDM_PASTE, MIS_TEXT, MIA_DISABLED
   }
   MENUITEM "F1=Help", IDM_HELP, MIS_HELP | MIS_BUTTONSEPARATOR
}

ACCELTABLE RES_FRAME
{
   "c", IDM_ITEM1, ALT
   "f", IDM_ITEM2, ALT
   "t", IDM_ITEM3, ALT
}
